<% form_for :product, @product, :url => {:action=>"create"}, :html => { :multipart => true } do |f| %>

<div>
<b>Add Product</b></br>
Product Category:<%= f.select("categoryid",@category.map{|c| [c.categoryname,c.id]}) %></br>
Product Name:<%= f.text_field :p_name%> </br>
Product Discription:<%= f.text_field :p_dis%></br> 
Product Price:<%= f.text_field :p_cost%></br>
Number of Items:<%= f.text_field :p_nitem%></br>
<%= f.file_field :avatar %></br>
	<%#p_cat=c.categoryname%>
</div>	 	
<%= f.submit "Add"%>


<%end%>